<!-- footer-->
<footer>
    <div class="container">
        <div class="row-fluid">

            <!-- Follow Us-->
            <div class="span2">
                <div class="title">Follow us</div>
                <ul class="social">
                    <li class="google"><span><i class="icon-google-plus"></i></span><a href="https://plus.google.com/+BytellioSoftware" rel="publisher">Google+</a></li>
                    <li class="facebook"><span><i class="icon-facebook"></i></span><a href="https://www.facebook.com/pages/Bytellio/570499729743005">Facebook</a></li>
                    <li class="twitter"><span><i class="icon-twitter"></i></span><a href="https://twitter.com/Bytellio">Twitter</a></li>
                    <li class="linkedin"><span><i class="icon-linkedin"></i></span><a href="https://www.linkedin.com/company/bytellio-com">Linkedin</a></li>
                </ul>
            </div>
            <!-- End Follow Us-->
            <!-- Recent links-->

            <!-- End Recent links-->
            <!-- Twitter Feed -->

            <!-- End Twitter Feed-->
            <!-- Contact Us-->
            <div class="span4">
                <div class="title">Contact us</div>
                <ul class="contact_footer">
                    <li>
                        <i class="icon-envelope"></i> <a href="https://www.bytellio.com/">info@bytellio.com</a>
                    </li>
                    <li>
                        <i class="icon-headphones"></i> <a href="call:">+385977505003</a>
                    </li>
                    <li class="location">
                        <i class="icon-home"></i> <a href="https://www.bytellio.com/#" target="_blank">Augustinčićeva3, Zagreb, Croatia</a>
                    </li>
                </ul>
            </div>
            <!-- Contact Us-->
            <!-- Newsletter-->
            <div class="span6">
                <div class="title">Newsletter sign up</div>
                <form id="newsletterForm" action="https://www.bytellio.com/php/mailchip/newsletter-subscribe.php">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-align-left"></i></span>
                        <input type="text" required="" placeholder="Your name">
                    </div>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="email" required="" placeholder="Your Email" name="email">
                    </div>

                    <input type="submit" value="Send" class="button">
                </form>
                <div id="result-newsletter"></div>
            </div>
            <!-- end Newsletter-->


        </div>
    </div>
</footer>
<!-- End footer-->
<!-- footer-->
<footer class="coopring">
    <p>© 2017 Bytellio. All Rights Reserved.</p>
</footer>
<!-- End footer-->
<!-- End footer-->

</div>
<!-- End layout-->
<!-- ======================= JQuery libs =========================== -->

<!-- jQuery local-->
<script>
    window.jQuery || document.write('<script src="scripts/jquery-1.9.1.min.js"><\/script>')
</script>
<script src="/js/jquery-1.9.1.min.js.download"></script>
<!-- jQuery ui-->
<script src="/js/jquery-ui.min.js.download"></script>
<!--Nav-->

<script type="text/javascript" src="/js/tinynav.min.js.download"></script>

<script type="text/javascript" src="/js/superfish.min.js.download"></script>
<script src="/js/jquery.sticky.js.download" type="text/javascript"></script>

<!--Totop-->
<script type="text/javascript" src="/js/jquery.ui.totop.js.download"></script>
<!--Slide-->
<script type="text/javascript" src="/js/camera.min.js.download"></script>

<script type="text/javascript" src="/js/jquery.easing.min.js.download"></script>
<!--flexsilider-->

<script type="text/javascript" src="/js/jquery.flexslider-min.js.download"></script>
<!--Ligbox-->

<script type="text/javascript" src="/js/jquery.fancybox.pack.js.download"></script>
<!--Gallery Grid-->
<script type="text/javascript" src="/js/modernizr.custom.26633.js.download"></script>
<script type="text/javascript" src="/js/jquery.gridrotator.min.js.download"></script>
<!--Minislider Team-->
<script type="text/javascript" src="/js/modernizr.custom.63321.js.download"></script>
<script type="text/javascript" src="/js/jquery.catslider.js.download"></script>
<!--Filters-->
<script type="text/javascript" src="/js/filters.js.download"></script>
<!--Theme Options-->
<script type="text/javascript" src="/js/theme-options.js.download"></script>
<script type="text/javascript" src="/js/jquery.cookies.js.download"></script>
<!-- Twitter Feed-->

<script src="/js/jquery.tweet.min.js.download"></script>

<!-- Bootstrap.js-->

<script type="text/javascript" src="/js/bootstrap.min.js.download"></script>

<!--fUNCTIONS-->
<script type="text/javascript" src="/js/jquery-func.min.js.download"></script>
<!-- ======================= End JQuery libs =========================== -->






<script>
    $(function() {
        $(".camera_caption ul.star li").each(function() {
            $(this).prepend("<i class='icon-star gold'></i>");
        });

    });
</script>






<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55187699-1', 'auto');
    ga('send', 'pageview');
</script>


<a href="https://www.bytellio.com/#" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a>
</body>

</html>